<!--
TODO, for the line segments part:
1. need to for each segment, get the accident number.
2. show the segment with color adjusted based on the event number.
3. after click each road seg, show information.


TODO, make the heatmap flexible to show the events as markers as well.
1. draw each marker one by one.
2. after click on each marker, show some information

-->
<html>
	<head>
		<meta charset="utf-8">
   	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<title>TAAA</title>
    	<!-- Bootstrap Core CSS -->
    	<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
    	<!-- Custom CSS -->
    	<link href="static/css/home.css" rel="stylesheet">
    	<!--css for tabs-->
    	<link href="static/css/tabs.css" rel="stylesheet">
		<style>
	 	 html, body {
       		 height: 100%;
        	 margin: 0;
        	 padding: 0;
      	}
      	#map {
        	height: 100%;
      	}
		</style>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZzippHXKw9q2Il2OGD57Zz04CfxIrpY&signed_in=true&libraries=visualization"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script src="static/js/common_util.js"></script>
		<script src="static/js/render_markers.js"></script>
	</head>
	<body>
		<div class="container">
			 <div class="row">
        		<div class="col-md-3">
        		</div>
        		<div class="col-md-9">

        		</div>
			  </div>
       		  <div class="row">
				  <div class="col-md-3" id="facets">
					  <div class="location-type">
					  		<h4>Location Type</h4>
              				<input type="radio" name="loc-type" value="intersection"> Intersection <br>
                			<input type="radio" name="loc-type" value="segment"> Segment <br>
						    <input type="radio" name="loc-type" value="both"> Both
					  </div>
              		  <div class="collision-type">
						  <h4>Collision Type</h4>
					      <input type="checkbox" name="Col-type" value="21"> rear-end <br>
					      <input type="checkbox" name="Col-type" value="27"> head-on <br>
                    	  <input type="checkbox" name="Col-type" value="14"> pedestrian <br>
					      <input type="checkbox" name="Col-type" value="15"> bicycle <br>
					  </div>
					  <div class="time-period">
						  <h4>Time Period</h4>
						  Start Date : <input type="text" id="start-date"> <br>
						  End Date : <input type="text" id="end-date">
					  </div>
					  <div class="time-of-day">
						  <h4>Time of day</h4>
						  Start time : <input type="text" id="start-time"> <br>
						  End time : <input type="text" id="end-time">
					  </div>
					  <div class="severity">
						  <h4>Severity</h4>
						  <input type="checkbox" name="severity" value="k"> K
						  <input type="checkbox" name="severity" value="a"> A
						  <input type="checkbox" name="severity" value="b"> B
               			  <input type="checkbox" name="severity" value="c"> C
					  </div>
					  <div class="no-of-lanes">
						  <h4>No. Of Lanes</h4>
						  <input type="checkbox" name="Col-type" value="0"> 2
						  <input type="checkbox" name="Col-type" value="1"> 4
						  <input type="checkbox" name="Col-type" value="2"> 6
					  </div>
					  <br/>
					  <a class="btn btn-success">View Details</a><br><br>
             		  <a class="btn btn-success">Export Data</a>
				  </div>
				  <div class="col-md-9">
					<input type="text" placeholder="Search..." required>
					<input type="button" value="Search">
              		<div class="tabs">
                		<ul class="tab-links">
               	   			<li class="active"><a href="#tab1">Heat Maps</a></li>
							<li><a href="#tab2">Road Segments</a></li>
                  			<li><a href="#tab3">Accidents</a></li>
                		</ul>
                		<div class="tab-content">
                  			<div id="tab1" class="tab active">
				  				<div id="map"></div>
				  			</div>
                  			<div id="tab2" class="tab">
                    			<p>Tab #2 content goes here!</p>
                    			<p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
                  			</div>
                  			<div id="tab3" class="tab">
                    			<p>Tab #3 content goes here!</p>
                   				 <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
                  			</div>
						</div>
              		</div>
				  </div>
			  </div>
        </div>
		<script src="static/js/home.js"></script>
    <!-- /.container -->
	</body>
</html>
